---
interface Props {
  number1: string;
  value1: string;
  number2: string;
  value2: string;
  number3: string;
  value3: string;
  number4: string;
  value4: string;
}

const { number1, value1, number2, value2, number3, value3, number4, value4 } = Astro.props;
---

<!-- still need to update alt tags, and edit size of media for phone -->

  <article class="statistics-class">
    <section class="first-card" >
      <h2>{number1}</h2>
      <h2>{value1}</h2>
    </section>

    <section class="second-card">
        <h2>{number2}</h2>
        <h2>{value2}</h2>
    </section>

    <section class="third-card">
        <h2>{number3}</h2>
        <h2>{value3}</h2>
    </section>

    <section class="fourth-card">
        <h2>{number4}</h2>
        <h2>{value4}</h2>
      </section>
    </article>

<style>
    .statistics-class {
        background-color: transparent;
        box-shadow: none;
        border: none;

        margin-bottom: 0px;
        border-radius: 0px;
        position: relative;
        height: 600px;
    }
    h2 {
        color: white;
        font-size: 38px;
    }
    .first-card, .second-card, .third-card, .fourth-card {
        border-radius: 50%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: white solid 11px;
        box-shadow: 1px 2px 2px 1px #9a9a9a;
        position: absolute;
    }
    /* set individual circle's colours, positions, and sizes */
    .first-card {
        background-color: #3f746f;
        width: 380px;
        height: 380px;
        top: 16%;
        left: 12%;
    }
    .second-card {
        background-color: rgb(92, 144, 139);
        width: 265px;
        height: 265px;
        top: 8%;
        left: 40%;
    }
    .third-card {
        background-color: rgba(115, 178, 172, 0.962);
        width: 250px;
        height: 250px;
        bottom: 1%;
        right: 30%;
    }
    .fourth-card {
        background-color: #2f605c;
        width: 330px;
        height: 330px;
        top: 5%;
        right: 12%;
    }
    /* set individual circle's text size */
    .first-card h2 {
        font-size: 55px;
    }


    /* do media sizes */
    @media (min-width: 1285px), (max-width: 1285px) { /*if its less than or greater than 1285px*/
        /* set individual circle's positions, and sizes */
        .first-card {
            width: 350px;
            height: 350px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 230px;
            height: 230px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 220px;
            height: 220px;
            bottom: 1%;
            right: 30%;
        }
        .fourth-card {
            width: 300px;
            height: 300px;
            top: 5%;
            right: 10%;
        }
    }

    @media (max-width: 1180px) {
        h2 {
            font-size: 36px;
        }
        /* set individual circle's positions, and sizes */
        .first-card {
            width: 320px;
            height: 320px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 200px;
            height: 200px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 200px;
            height: 200px;
            bottom: 10%;
            right: 30%;
        }
        .fourth-card {
            width: 280px;
            height: 280px;
            top: 5%;
            right: 10%;
        }
    }

    @media (max-width: 1080px) {
        .statistics-class {
            height: 550px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 32px;
        }
        .first-card {
            width: 300px;
            height: 300px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 185px;
            height: 185px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 170px;
            height: 170px;
            bottom: 10%;
            right: 30%;
        }
        .fourth-card {
            width: 260px;
            height: 260px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
        font-size: 48px;
        }
    }

    @media (max-width: 1020px) {
        .statistics-class {
            height: 500px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 30px;
        }
        .first-card {
            width: 280px;
            height: 280px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 165px;
            height: 165px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 155px;
            height: 155px;
            bottom: 10%;
            right: 30%;
        }
        .fourth-card {
            width: 240px;
            height: 240px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
        font-size: 46px;
        }
    }

    @media (max-width: 960px) {
        .statistics-class {
            height: 480px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 30px;
        }
        .first-card {
            width: 265px;
            height: 265px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 165px;
            height: 165px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 145px;
            height: 145px;
            bottom: 10%;
            right: 30%;
        }
        .fourth-card {
            width: 230px;
            height: 230px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 44px;
        }
    }
    @media (max-width: 930px) {
        .statistics-class {
            height: 460px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 27px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 9px;
        }
        .first-card {
            width: 250px;
            height: 250px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 155px;
            height: 155px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 135px;
            height: 135px;
            bottom: 10%;
            right: 30%;
        }
        .fourth-card {
            width: 220px;
            height: 220px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 42px;
        }
    }
    @media (max-width: 880px) {
        .statistics-class {
            height: 400px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 23px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 8px;
        }
        .first-card {
            width: 220px;
            height: 220px;
            top: 19%;
            left: 10%;
        }
        .second-card {
            width: 135px;
            height: 135px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 122px;
            height: 122px;
            bottom: 13%;
            right: 32%;
        }
        .fourth-card {
            width: 185px;
            height: 185px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 36px;
        }
    }
    @media (max-width: 790px) {
        .statistics-class {
            height: 340px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 21px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 7px;
        }
        .first-card {
            width: 200px;
            height: 200px;
            top: 16%;
            left: 10%;
        }
        .second-card {
            width: 120px;
            height: 120px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 110px;
            height: 110px;
            bottom: 10%;
            right: 32%;
        }
        .fourth-card {
            width: 180px;
            height: 180px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 33px;
        }
    }

    @media (max-width: 690px) {
        .statistics-class {
            height: 330px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 20px;
        }
        .first-card {
            width: 180px;
            height: 180px;
            top: 18%;
            left: 10%;
        }
        .second-card {
            width: 115px;
            height: 115px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 105px;
            height: 105px;
            bottom: 10%;
            right: 32%;
        }
        .fourth-card {
            width: 160px;
            height: 160px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 30px;
        }
    }

    @media (max-width: 635px) {
        .statistics-class {
            height: 300px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 17px;
        }
        .first-card {
            width: 160px;
            height: 160px;
            top: 19%;
            left: 10%;
        }
        .second-card {
            width: 100px;
            height: 100px;
            top: 8%;
            left: 40%;
        }
        .third-card {
            width: 95px;
            height: 95px;
            bottom: 10%;
            right: 32%;
        }
        .fourth-card {
            width: 140px;
            height: 140px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 26px;
        }
    }

    @media (max-width: 555px) {
        .statistics-class {
            height: 300px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 16px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 6px;
        }
        .first-card {
            width: 140px;
            height: 140px;
            top: 19%;
            left: 10%;
        }
        .second-card {
            width: 100px;
            height: 100px;
            top: 8%;
            left: 39%;
        }
        .third-card {
            width: 92px;
            height: 92px;
            bottom: 10%;
            right: 32%;
        }
        .fourth-card {
            width: 130px;
            height: 130px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 23px;
        }
    }

    @media (max-width: 515px) {
        .statistics-class {
            height: 280px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 15px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 6px;
        }
        .first-card {
            width: 130px;
            height: 130px;
            top: 21%;
            left: 10%;
        }
        .second-card {
            width: 90px;
            height: 90px;
            top: 10%;
            left: 39%;
        }
        .third-card {
            width: 85px;
            height: 85px;
            bottom: 10%;
            right: 32%;
        }
        .fourth-card {
            width: 117px;
            height: 117px;
            top: 5%;
            right: 10%;
        }
        .fourth-card h2 {
            font-size: 14px;
        }
        .first-card h2 {
            font-size: 21px;
        }
    }
    @media (max-width: 465px) {
        .statistics-class {
            height: 260px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 13px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 5px;
        }
        .first-card {
            width: 120px;
            height: 120px;
            top: 21%;
            left: 10%;
        }
        .second-card {
            width: 80px;
            height: 80px;
            top: 10%;
            left: 39%;
        }
        .third-card {
            width: 75px;
            height: 75px;
            bottom: 10%;
            right: 32%;
        }
        .fourth-card {
            width: 110px;
            height: 110px;
            top: 5%;
            right: 10%;
        }
        .first-card h2 {
            font-size: 18px;
        }
    }
    @media (max-width: 430px) {
        .statistics-class {
            height: 260px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 13px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 4px;
        }
        .first-card {
            width: 120px;
            height: 120px;
            top: 23%;
            left: 9%;
        }
        .second-card {
            width: 80px;
            height: 80px;
            top: 10%;
            left: 38%;
        }
        .third-card {
            width: 75px;
            height: 75px;
            bottom: 12%;
            right: 32%;
        }
        .fourth-card {
            width: 110px;
            height: 110px;
            top: 5%;
            right: 9%;
        }
        .first-card h2 {
            font-size: 18px;
        }
    }

    @media (max-width: 395px) {
        .statistics-class {
            height: 260px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 13px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 4px;
        }
        .first-card {
            width: 115px;
            height: 115px;
            top: 25%;
            left: 9%;
        }
        .second-card {
            width: 77px;
            height: 77px;
            top: 10%;
            left: 38%;
        }
        .third-card {
            width: 72px;
            height: 72px;
            bottom: 17%;
            right: 32%;
        }
        .fourth-card {
            width: 105px;
            height: 105px;
            top: 9%;
            right: 9%;
        }
        .first-card h2 {
            font-size: 18px;
        }
        .fourth-card h2 {
            font-size: 12px;
        }
    }
    @media (max-width: 380px) {
        .statistics-class {
            height: 260px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 13px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 4px;
        }
        .first-card {
            width: 115px;
            height: 115px;
            top: 27%;
            left: 9%;
        }
        .second-card {
            width: 77px;
            height: 77px;
            top: 5%;
            left: 36%;
        }
        .third-card {
            width: 72px;
            height: 72px;
            bottom: 17%;
            right: 32%;
        }
        .fourth-card {
            width: 105px;
            height: 105px;
            top: 15%;
            right: 9%;
        }
        .first-card h2 {
            font-size: 18px;
        }
        .fourth-card h2 {
            font-size: 12px;
        }
    }
    @media (max-width: 345px) {
        .statistics-class {
            height: 260px;
        }
        /* set individual circle's positions, and sizes */
        h2 {
            font-size: 13px;
        }
        .first-card, .second-card, .third-card, .fourth-card {
            border: white solid 4px;
        }
        .first-card {
            width: 115px;
            height: 115px;
            top: 27%;
            left: 5%;
        }
        .second-card {
            width: 77px;
            height: 77px;
            top: 5%;
            left: 36%;
        }
        .third-card {
            width: 72px;
            height: 72px;
            bottom: 17%;
            right: 32%;
        }
        .fourth-card {
            width: 105px;
            height: 105px;
            top: 15%;
            right: 5%;
        }
        .first-card h2 {
            font-size: 18px;
        }
        .fourth-card h2 {
            font-size: 12px;
        }
    }
    @media (max-width: 325px) {
        .statistics-class {
            height: 260px;
        }
        .first-card {
            width: 115px;
            height: 115px;
            top: 27%;
            left: 5%;
        }
        .second-card {
            width: 77px;
            height: 77px;
            top: 5%;
            left: 36%;
        }
        .third-card {
            width: 72px;
            height: 72px;
            bottom: 17%;
            right: 32%;
        }
        .fourth-card {
            width: 105px;
            height: 105px;
            top: 17%;
            right: 5%;
        }
        .first-card h2 {
            font-size: 18px;
        }
        .fourth-card h2 {
            font-size: 12px;
        }
    }
</style>
